[Unit]
Description=ThermoPI-Furnace Status Reader

[Service]
User=|user|
Group=|user|
WorkingDirectory=/home/|user|/.ThermoPI/ThermoPI-Furnace
ExecStart=/home/|user|/.ThermoPI/ThermoPI-Furnace/startThermoPI.sh > /dev/null 2>&1
KillSignal=SIGINT
Type=simple
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
